.layout_container {
    .layout_menu {
        // 过渡效果
        transition: all 0.2s ease-in-out;
    }

    .layout_tabbar {
        transition: all 0.2s ease-in-out;
        // background: yellow;
    }
    .layout_content {
        // background: skyblue;
        transition: all 0.2s ease-in-out;
    }
}
